interactions:
- request:
    body: !!python/unicode 'Action=GenerateCredentialReport&Version=2010-05-08'
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20171002T083754Z]
    method: !!python/unicode 'POST'
    uri: https://iam.amazonaws.com/
  response:
    body: {string: !!python/unicode "<GenerateCredentialReportResponse xmlns=\"https://iam.amazonaws.com/doc/2010-05-08/\"\
        >\n  <GenerateCredentialReportResult>\n    <Description>No report exists.\
        \ Starting a new report generation task</Description>\n    <State>STARTED</State>\n\
        \  </GenerateCredentialReportResult>\n  <ResponseMetadata>\n    <RequestId>fdbf8740-a74c-11e7-a414-b9cac0f02796</RequestId>\n\
        \  </ResponseMetadata>\n</GenerateCredentialReportResponse>\n"}
    headers:
      content-type: [text/xml]
      x-amzn-requestid: [fdbf8740-a74c-11e7-a414-b9cac0f02796]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode 'Action=GetCredentialReport&Version=2010-05-08'
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20171002T083759Z]
    method: !!python/unicode 'POST'
    uri: https://iam.amazonaws.com/
  response:
    body: {string: !!python/unicode "<GetCredentialReportResponse xmlns=\"https://iam.amazonaws.com/doc/2010-05-08/\"\
        >\n  <GetCredentialReportResult>\n    <GeneratedTime>2017-10-02T08:37:58Z</GeneratedTime>\n\
        \    <ReportFormat>text/csv</ReportFormat>\n    <Content>dXNlcixhcm4sdXNlcl9jcmVhdGlvbl90aW1lLHBhc3N3b3JkX2VuYWJsZWQscGFzc3dvcmRfbGFzdF91c2VkLHBhc3N3b3JkX2xhc3RfY2hhbmdlZCxwYXNzd29yZF9uZXh0X3JvdGF0aW9uLG1mYV9hY3RpdmUsYWNjZXNzX2tleV8xX2FjdGl2ZSxhY2Nlc3Nfa2V5XzFfbGFzdF9yb3RhdGVkLGFjY2Vzc19rZXlfMV9sYXN0X3VzZWRfZGF0ZSxhY2Nlc3Nfa2V5XzFfbGFzdF91c2VkX3JlZ2lvbixhY2Nlc3Nfa2V5XzFfbGFzdF91c2VkX3NlcnZpY2UsYWNjZXNzX2tleV8yX2FjdGl2ZSxhY2Nlc3Nfa2V5XzJfbGFzdF9yb3RhdGVkLGFjY2Vzc19rZXlfMl9sYXN0X3VzZWRfZGF0ZSxhY2Nlc3Nfa2V5XzJfbGFzdF91c2VkX3JlZ2lvbixhY2Nlc3Nfa2V5XzJfbGFz[...]
- request:
    body: !!python/unicode 'Action=ListAttachedUserPolicies&Version=2010-05-08&UserName=argh'
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20171002T083800Z]
    method: !!python/unicode 'POST'
    uri: https://iam.amazonaws.com/
  response:
    body: {string: !!python/unicode "<ListAttachedUserPoliciesResponse xmlns=\"https://iam.amazonaws.com/doc/2010-05-08/\"\
        >\n  <ListAttachedUserPoliciesResult>\n    <IsTruncated>false</IsTruncated>\n\
        \    <AttachedPolicies>\n      <member>\n        <PolicyArn>arn:aws:iam::aws:policy/AmazonS3FullAccess</PolicyArn>\n\
        \        <PolicyName>AmazonS3FullAccess</PolicyName>\n      </member>\n  \
        \  </AttachedPolicies>\n  </ListAttachedUserPoliciesResult>\n  <ResponseMetadata>\n\
        \    <RequestId>015f4308-a74d-11e7-80d9-d38ac7e153a6</RequestId>\n  </ResponseMetadata>\n\
        </ListAttachedUserPoliciesResponse>\n"}
    headers:
      content-type: [text/xml]
      x-amzn-requestid: [015f4308-a74d-11e7-80d9-d38ac7e153a6]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode 'Action=ListGroupsForUser&Version=2010-05-08&UserName=argh'
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20171002T083803Z]
    method: !!python/unicode 'POST'
    uri: https://iam.amazonaws.com/
  response:
    body: {string: !!python/unicode "<ListGroupsForUserResponse xmlns=\"https://iam.amazonaws.com/doc/2010-05-08/\"\
        >\n  <ListGroupsForUserResult>\n    <IsTruncated>false</IsTruncated>\n   \
        \ <Groups/>\n  </ListGroupsForUserResult>\n  <ResponseMetadata>\n    <RequestId>01795aef-a74d-11e7-80d9-d38ac7e153a6</RequestId>\n\
        \  </ResponseMetadata>\n</ListGroupsForUserResponse>\n"}
    headers:
      content-type: [text/xml]
      x-amzn-requestid: [01795aef-a74d-11e7-80d9-d38ac7e153a6]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode 'Action=ListGroupsForUser&Version=2010-05-08&UserName=awsbbuser'
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20171002T083806Z]
    method: !!python/unicode 'POST'
    uri: https://iam.amazonaws.com/
  response:
    body: {string: !!python/unicode "<ListGroupsForUserResponse xmlns=\"https://iam.amazonaws.com/doc/2010-05-08/\"\
        >\n  <ListGroupsForUserResult>\n    <IsTruncated>false</IsTruncated>\n   \
        \ <Groups>\n      <member>\n        <Path>/</Path>\n        <GroupName>blah</GroupName>\n\
        \        <Arn>arn:aws:iam::jaffa_cakes:group/blah</Arn>\n        <GroupId>JAFFACAKES</GroupId>\n\
        \        <CreateDate>2017-07-04T22:13:45Z</CreateDate>\n      </member>\n\
        \    </Groups>\n  </ListGroupsForUserResult>\n  <ResponseMetadata>\n    <RequestId>031668e6-a74d-11e7-80d9-d38ac7e153a6</RequestId>\n\
        \  </ResponseMetadata>\n</ListGroupsForUserResponse>\n"}
    headers:
      content-type: [text/xml]
      x-amzn-requestid: [031668e6-a74d-11e7-80d9-d38ac7e153a6]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode 'Action=ListAttachedGroupPolicies&Version=2010-05-08&GroupName=blah'
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20171002T083806Z]
    method: !!python/unicode 'POST'
    uri: https://iam.amazonaws.com/
  response:
    body: {string: !!python/unicode "<ListAttachedGroupPoliciesResponse xmlns=\"https://iam.amazonaws.com/doc/2010-05-08/\"\
        >\n  <ListAttachedGroupPoliciesResult>\n    <IsTruncated>false</IsTruncated>\n\
        \    <AttachedPolicies>\n      <member>\n        <PolicyArn>arn:aws:arn:aws:iam::jaffacakes/policy/credential_report_policy</PolicyArn>\n\
        \        <PolicyName>credential_report_policy</PolicyName>\n      </member>\n\
        \      <member>\n        <PolicyArn>arn:aws:iam::aws:policy/AmazonElasticTranscoderReadOnlyAccess</PolicyArn>\n\
        \        <PolicyName>AmazonElasticTranscoderReadOnlyAccess</PolicyName>\n\
        \      </member>\n      <member>\n        <PolicyArn>arn:aws:iam::aws:policy/service-role/AWSElasticBeanstalkService</PolicyArn>\n\
        \        <PolicyName>AWSElasticBeanstalkService</PolicyName>\n      </member>\n\
        \      <member>\n        <PolicyArn>arn:aws:arn:aws:iam::jaffacakes/policy/policygen-201611102106</PolicyArn>\n\
        \        <PolicyName>policygen-201611102106</PolicyName>\n      </member>\n\
        \    </AttachedPolicies>\n  </ListAttachedGroupPoliciesResult>\n  <ResponseMetadata>\n\
        \    <RequestId>032fbd66-a74d-11e7-80d9-d38ac7e153a6</RequestId>\n  </ResponseMetadata>\n\
        </ListAttachedGroupPoliciesResponse>\n"}
    headers:
      content-type: [text/xml]
      x-amzn-requestid: [032fbd66-a74d-11e7-80d9-d38ac7e153a6]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode 'Action=ListGroupPolicies&Version=2010-05-08&GroupName=blah'
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20171002T083806Z]
    method: !!python/unicode 'POST'
    uri: https://iam.amazonaws.com/
  response:
    body: {string: !!python/unicode "<ListGroupPoliciesResponse xmlns=\"https://iam.amazonaws.com/doc/2010-05-08/\"\
        >\n  <ListGroupPoliciesResult>\n    <IsTruncated>false</IsTruncated>\n   \
        \ <PolicyNames>\n      <member>iaminline</member>\n    </PolicyNames>\n  </ListGroupPoliciesResult>\n\
        \  <ResponseMetadata>\n    <RequestId>034875a1-a74d-11e7-80d9-d38ac7e153a6</RequestId>\n\
        \  </ResponseMetadata>\n</ListGroupPoliciesResponse>\n"}
    headers:
      content-type: [text/xml]
      x-amzn-requestid: [034875a1-a74d-11e7-80d9-d38ac7e153a6]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode 'Action=ListGroupsForUser&Version=2010-05-08&UserName=s3_user'
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20171002T083850Z]
    method: !!python/unicode 'POST'
    uri: https://iam.amazonaws.com/
  response:
    body: {string: !!python/unicode "<ListGroupsForUserResponse xmlns=\"https://iam.amazonaws.com/doc/2010-05-08/\"\
        >\n  <ListGroupsForUserResult>\n    <IsTruncated>false</IsTruncated>\n   \
        \ <Groups/>\n  </ListGroupsForUserResult>\n  <ResponseMetadata>\n    <RequestId>1d376804-a74d-11e7-aa1a-cf97ecad991b</RequestId>\n\
        \  </ResponseMetadata>\n</ListGroupsForUserResponse>\n"}
    headers:
      content-type: [text/xml]
      x-amzn-requestid: [1d376804-a74d-11e7-aa1a-cf97ecad991b]
    status: {code: 200, message: OK}
version: 1
