interactions:
- request:
    body: !!python/unicode 'Version=2010-05-08&Action=GenerateCredentialReport'
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20171012T174844Z]
    method: !!python/unicode 'POST'
    uri: https://iam.amazonaws.com/
  response:
    body: {string: !!python/unicode "<GenerateCredentialReportResponse xmlns=\"https://iam.amazonaws.com/doc/2010-05-08/\"\
        >\n  <GenerateCredentialReportResult>\n    <State>COMPLETE</State>\n  </GenerateCredentialReportResult>\n\
        \  <ResponseMetadata>\n    <RequestId>97e8a4d9-af75-11e7-9ae4-037eba475f54</RequestId>\n\
        \  </ResponseMetadata>\n</GenerateCredentialReportResponse>\n"}
    headers:
      content-type: [text/xml]
      x-amzn-requestid: [97e8a4d9-af75-11e7-9ae4-037eba475f54]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode 'Version=2010-05-08&Action=GetCredentialReport'
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20171012T174847Z]
    method: !!python/unicode 'POST'
    uri: https://iam.amazonaws.com/
  response:
    body: {string: !!python/unicode "<GetCredentialReportResponse xmlns=\"https://iam.amazonaws.com/doc/2010-05-08/\"\
        >\n  <GetCredentialReportResult>\n    <GeneratedTime>2017-10-12T17:07:06Z</GeneratedTime>\n\
        \    <ReportFormat>text/csv</ReportFormat>\n    <Content>dXNlcixhcm4sdXNlcl9jcmVhdGlvbl90aW1lLHBhc3N3b3JkX2VuYWJsZWQscGFzc3dvcmRfbGFzdF91c2VkLHBhc3N3b3JkX2xhc3RfY2hhbmdlZCxwYXNzd29yZF9uZXh0X3JvdGF0aW9uLG1mYV9hY3RpdmUsYWNjZXNzX2tleV8xX2FjdGl2ZSxhY2Nlc3Nfa2V5XzFfbGFzdF9yb3RhdGVkLGFjY2Vzc19rZXlfMV9sYXN0X3VzZWRfZGF0ZSxhY2Nlc3Nfa2V5XzFfbGFzdF91c2VkX3JlZ2lvbixhY2Nlc3Nfa2V5XzFfbGFzdF91c2VkX3NlcnZpY2UsYWNjZXNzX2tleV8yX2FjdGl2ZSxhY2Nlc3Nfa2V5XzJfbGFzdF9yb3RhdGVkLGFjY2Vzc19rZXlfMl9sYXN0X3VzZWRfZGF0ZSxhY2Nlc3Nfa2V5XzJfbGFzdF91c2VkX3JlZ2lvbixhY2Nlc3Nfa2V5XzJfbGFz[...]
- request:
    body: !!python/unicode 'Version=2010-05-08&Action=ListAttachedUserPolicies&UserName=argh'
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20171012T174847Z]
    method: !!python/unicode 'POST'
    uri: https://iam.amazonaws.com/
  response:
    body: {string: !!python/unicode "<ListAttachedUserPoliciesResponse xmlns=\"https://iam.amazonaws.com/doc/2010-05-08/\"\
        >\n  <ListAttachedUserPoliciesResult>\n    <IsTruncated>false</IsTruncated>\n\
        \    <AttachedPolicies>\n      <member>\n        <PolicyArn>arn:aws:iam::aws:policy/AmazonS3FullAccess</PolicyArn>\n\
        \        <PolicyName>AmazonS3FullAccess</PolicyName>\n      </member>\n  \
        \  </AttachedPolicies>\n  </ListAttachedUserPoliciesResult>\n  <ResponseMetadata>\n\
        \    <RequestId>99c0c036-af75-11e7-9ae4-037eba475f54</RequestId>\n  </ResponseMetadata>\n\
        </ListAttachedUserPoliciesResponse>\n"}
    headers:
      content-type: [text/xml]
      x-amzn-requestid: [99c0c036-af75-11e7-9ae4-037eba475f54]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode 'Version=2010-05-08&Action=ListGroupsForUser&UserName=argh'
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20171012T174848Z]
    method: !!python/unicode 'POST'
    uri: https://iam.amazonaws.com/
  response:
    body: {string: !!python/unicode "<ListGroupsForUserResponse xmlns=\"https://iam.amazonaws.com/doc/2010-05-08/\"\
        >\n  <ListGroupsForUserResult>\n    <IsTruncated>false</IsTruncated>\n   \
        \ <Groups/>\n  </ListGroupsForUserResult>\n  <ResponseMetadata>\n    <RequestId>99d8672d-af75-11e7-9ae4-037eba475f54</RequestId>\n\
        \  </ResponseMetadata>\n</ListGroupsForUserResponse>\n"}
    headers:
      content-type: [text/xml]
      x-amzn-requestid: [99d8672d-af75-11e7-9ae4-037eba475f54]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode 'Version=2010-05-08&Action=ListGroupsForUser&UserName=awsbbuser'
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20171012T174849Z]
    method: !!python/unicode 'POST'
    uri: https://iam.amazonaws.com/
  response:
    body: {string: !!python/unicode "<ListGroupsForUserResponse xmlns=\"https://iam.amazonaws.com/doc/2010-05-08/\"\
        >\n  <ListGroupsForUserResult>\n    <IsTruncated>false</IsTruncated>\n   \
        \ <Groups>\n      <member>\n        <Path>/</Path>\n        <GroupName>blah</GroupName>\n\
        \        <Arn>arn:aws:iam::jaffa_cakes:group/blah</Arn>\n        <GroupId>JAFFACAKES</GroupId>\n\
        \        <CreateDate>2017-07-04T22:13:45Z</CreateDate>\n      </member>\n\
        \    </Groups>\n  </ListGroupsForUserResult>\n  <ResponseMetadata>\n    <RequestId>9a7c6fb9-af75-11e7-9396-47e0b2ed8d3b</RequestId>\n\
        \  </ResponseMetadata>\n</ListGroupsForUserResponse>\n"}
    headers:
      content-type: [text/xml]
      x-amzn-requestid: [9a7c6fb9-af75-11e7-9396-47e0b2ed8d3b]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode 'Version=2010-05-08&Action=ListAttachedGroupPolicies&GroupName=blah'
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20171012T174849Z]
    method: !!python/unicode 'POST'
    uri: https://iam.amazonaws.com/
  response:
    body: {string: !!python/unicode "<ListAttachedGroupPoliciesResponse xmlns=\"https://iam.amazonaws.com/doc/2010-05-08/\"\
        >\n  <ListAttachedGroupPoliciesResult>\n    <IsTruncated>false</IsTruncated>\n\
        \    <AttachedPolicies>\n      <member>\n        <PolicyArn>arn:aws:arn:aws:iam::jaffacakes/policy/credential_report_policy</PolicyArn>\n\
        \        <PolicyName>credential_report_policy</PolicyName>\n      </member>\n\
        \      <member>\n        <PolicyArn>arn:aws:iam::aws:policy/AmazonElasticTranscoderReadOnlyAccess</PolicyArn>\n\
        \        <PolicyName>AmazonElasticTranscoderReadOnlyAccess</PolicyName>\n\
        \      </member>\n      <member>\n        <PolicyArn>arn:aws:iam::aws:policy/service-role/AWSElasticBeanstalkService</PolicyArn>\n\
        \        <PolicyName>AWSElasticBeanstalkService</PolicyName>\n      </member>\n\
        \      <member>\n        <PolicyArn>arn:aws:arn:aws:iam::jaffacakes/policy/policygen-201611102106</PolicyArn>\n\
        \        <PolicyName>policygen-201611102106</PolicyName>\n      </member>\n\
        \    </AttachedPolicies>\n  </ListAttachedGroupPoliciesResult>\n  <ResponseMetadata>\n\
        \    <RequestId>9a93c775-af75-11e7-9396-47e0b2ed8d3b</RequestId>\n  </ResponseMetadata>\n\
        </ListAttachedGroupPoliciesResponse>\n"}
    headers:
      content-type: [text/xml]
      x-amzn-requestid: [9a93c775-af75-11e7-9396-47e0b2ed8d3b]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode 'Version=2010-05-08&Action=ListGroupPolicies&GroupName=blah'
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20171012T174849Z]
    method: !!python/unicode 'POST'
    uri: https://iam.amazonaws.com/
  response:
    body: {string: !!python/unicode "<ListGroupPoliciesResponse xmlns=\"https://iam.amazonaws.com/doc/2010-05-08/\"\
        >\n  <ListGroupPoliciesResult>\n    <IsTruncated>false</IsTruncated>\n   \
        \ <PolicyNames>\n      <member>iaminline</member>\n    </PolicyNames>\n  </ListGroupPoliciesResult>\n\
        \  <ResponseMetadata>\n    <RequestId>9aaaf919-af75-11e7-9396-47e0b2ed8d3b</RequestId>\n\
        \  </ResponseMetadata>\n</ListGroupPoliciesResponse>\n"}
    headers:
      content-type: [text/xml]
      x-amzn-requestid: [9aaaf919-af75-11e7-9396-47e0b2ed8d3b]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode 'Version=2010-05-08&Action=ListGroupsForUser&UserName=s3_user'
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20171012T174852Z]
    method: !!python/unicode 'POST'
    uri: https://iam.amazonaws.com/
  response:
    body: {string: !!python/unicode "<ListGroupsForUserResponse xmlns=\"https://iam.amazonaws.com/doc/2010-05-08/\"\
        >\n  <ListGroupsForUserResult>\n    <IsTruncated>false</IsTruncated>\n   \
        \ <Groups/>\n  </ListGroupsForUserResult>\n  <ResponseMetadata>\n    <RequestId>9c7bc21e-af75-11e7-a18d-e55de7cee7d6</RequestId>\n\
        \  </ResponseMetadata>\n</ListGroupsForUserResponse>\n"}
    headers:
      content-type: [text/xml]
      x-amzn-requestid: [9c7bc21e-af75-11e7-a18d-e55de7cee7d6]
    status: {code: 200, message: OK}
version: 1
