interactions:
- request:
    body: !!python/unicode 'UserName=awsbbuser&Version=2010-05-08&Action=ListGroupsForUser'
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20171002T082140Z]
    method: !!python/unicode 'POST'
    uri: https://iam.amazonaws.com/
  response:
    body: {string: !!python/unicode "<ListGroupsForUserResponse xmlns=\"https://iam.amazonaws.com/doc/2010-05-08/\"\
        >\n  <ListGroupsForUserResult>\n    <IsTruncated>false</IsTruncated>\n   \
        \ <Groups>\n      <member>\n        <Path>/</Path>\n        <GroupName>blah</GroupName>\n\
        \        <Arn>arn:aws:iam::jaffa_cakes:group/blah</Arn>\n        <GroupId>JAFFACAKES</GroupId>\n\
        \        <CreateDate>2017-07-04T22:13:45Z</CreateDate>\n      </member>\n\
        \    </Groups>\n  </ListGroupsForUserResult>\n  <ResponseMetadata>\n    <RequestId>b7f84912-a74a-11e7-816d-43092c402102</RequestId>\n\
        \  </ResponseMetadata>\n</ListGroupsForUserResponse>\n"}
    headers:
      content-type: [text/xml]
      x-amzn-requestid: [b7f84912-a74a-11e7-816d-43092c402102]
    status: {code: 200, message: OK}
version: 1
