interactions:
- request:
    body: !!python/unicode 'Action=GenerateCredentialReport&Version=2010-05-08'
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20170225T154602Z]
    method: !!python/unicode 'POST'
    uri: https://iam.amazonaws.com/
  response:
    body: {string: !!python/unicode "<GenerateCredentialReportResponse xmlns=\"https://iam.amazonaws.com/doc/2010-05-08/\"\
        >\n  <GenerateCredentialReportResult>\n    <State>COMPLETE</State>\n  </GenerateCredentialReportResult>\n\
        \  <ResponseMetadata>\n    <RequestId>832253e1-fb71-11e6-bbcc-7bf5067f667a</RequestId>\n\
        \  </ResponseMetadata>\n</GenerateCredentialReportResponse>\n"}
    headers:
      content-type: [text/xml]
      x-amzn-requestid: [832253e1-fb71-11e6-bbcc-7bf5067f667a]
    status: {code: 200, message: OK}
version: 1
